.navbar {
    background-color: #ffc107;
    color: rgb(255, 255, 255);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}