<div class="content-section">
    <h2>LISTA DE PROFESORES</h2>
    <div class="table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cédula</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Profesíon</th>
                    <th>Código</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Juan Pérez</td>
                    <td>12345678</td>
                    <td>juangmail.com</td>
                    <td>
                        <button class="delete-btn">
                            <i class="fas fa-trash"></i> Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

